* {
  background-color: black;
  color: white;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 40px;
}


.header {
    position: absolute;
    top: 30px;
    left: 100px;
}

body:after {
    position: fixed;
    top: -150px;
    right: -59px;
    bottom: 0;
    content: '';
    width: 400px;
    height: 600px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    transform: rotate(-30deg); 
}

body:before {
        position: fixed;
        top: 500px;
        left: -90px;
        bottom: 0;
        content: '';
        width: 400px;
        height: 400px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        transform: rotate(20deg);
    }
.container {
  padding-right: 10px;
  padding-left: 1px;
  margin-right: auto;
  margin-left: auto;
}
header .sajal_brand .name{
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    letter-spacing: 5px;
    padding: 7px;
    display: inline-block;
    position: relative;
    padding-left: 90px;
    padding-top: 30px;
 }

header .sajal_brand .name .logo-img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 30px;
    border-radius: 100%;
    background-size: 100%;
}

.work_place{
    display: flex;
    align-content: center;
    flex-direction: column;
    text-transform: uppercase;
    margin: 200px;
    text-align: center;
}

.place{
    letter-spacing: 4px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    padding: 20px;
    font-size: 30px;
}
.work{
    background: none;
    letter-spacing: 8px;
}

.img-saj{
    margin-left: 50px;
    margin-top: 50vh;
    width: 400px;
    position: relative;
}

.bold-text{
    position: absolute;
    margin-left: 600px;
    margin-top: -750px;
    font-weight: 700;
    font-size: 170px;
    color: rgba(255, 255, 255, 0.08);
    text-transform: uppercase;
    background: none;
}

.hi{
    position: absolute;
    margin-left: 700px;
    margin-top: -650px;
    font-size: 40px;
    font-family: "Poppins", Arial, sans-serif;
    background: none;
    letter-spacing: 1px;
    font-weight: 300;
}

.about-text{
    position: absolute;
    margin-left: 700px;
    margin-top: -500px;
    max-width: 400px;
    max-height: 400px;
    display: block;
    font-family: "Poppins", Arial, sans-serif;
    background: none;
    font-size: 21px;
    flex-wrap: wrap;
}


.fa {
    position: relative;
    padding: 20px;
    font-size: 10px;
    width: 30px;
    height: 30px;
    text-decoration: none;
    border-radius: 110%;
    list-style: none;
    align-content: center;
  }

.fa1:hover {
    opacity: 0.6;
}

.fa2:hover {
    opacity: 0.6;
}

.fa3:hover {
    opacity: 0.6;
}

.fa-twitter {
    background: #3d3d3d;
    color: white;
  }

.fa-facebook {
    background: #3d3d3d;
    color: white;
  }

.fa-github {
    background: #3d3d3d;
    color: white;
  }

ul {
    float: left;
    background: none;
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 100px;
    margin-left: 700px;
    margin-top: -200px;
}